html, head, body, header, img, nav,
ul, li, h2, aside, section, figure, form, footer{
  margin: 0;
  border:0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent
}
input {
  cursor: pointer;
  outline: none
}
